/* -- GENERAL -- */
/* Main colours */
:root {

--custom-lightblue: #52d3f0;
--custom-blue: #1ca2c1;
--custom-darkblue: #027792;

--custom-offwhite: #f6f5f2;
--custom-lightgrey: #e8e8e8;
--custom-darkgrey: #252525;

--custom-yellow: #ffcf40;
--custom-green: #019101;


}

/* General web-site values */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    max-width: 1400px;
    font-family: "Montserrat", serif;
    font-style: normal;
}

body{
    display: grid;
    grid-template-areas:
        "top-nav"
        "header"
        "main"
        "footer";
}


/* TOP NAV */
#top-nav-grid-container{
    grid-area: top-nav;

    display: grid;
    
}

/* INDEX.HTML HEADER */
#header-search-form-grid-container{
    grid-area: header;
}

#banner img{
    display: flex;
    width: 100%;
}
/* MAIN */
main{
    grid-area: main;
}

/* FOOTER */
footer{
    grid-area: footer;
}

/* GLOBAL HEADER, TOP NAV */

#global-header-flex-container{

}


/* index.html HEADER FORM */
#header-search-form-grid-container{

}





/* TEST:
#global-header-form-container {
    grid-area: header-2;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid greenyellow;
}
#global-header-form-container #scroll-menu-container{
    display: flex;
    gap: 1rem;
    overflow: scroll;
    border: 2px solid red;
}
#global-header-form-container #scroll-menu-container article a{
    position: relative;
    display: inline-block;
    
}
#scroll-menu-item {
    
    border: 2px dotted blue;
}
*/