/* -- GENERAL -- */
/* Main colours */
:root {
--custom1: #52d3f0;
--custom2: #ffcf40;
--custom3: #1ca2c1;
--custom4: #252525;
--custom5: #e8e8e8;
--custom6: #019101;
--custom7: #f6f5f2;
}

/* General web-site values */
html {
    max-width: 1400px;
    font-family: "Montserrat", serif;
    font-style: normal;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* -- ANIMATIONS, CONDITIONS & EFFECTS -------------------------------------------------------------- */
#hamburger-menu {

}
.hamburger-link {
    display: none;
}
#hamburger-button {

}


/* -- MOBILE ---------------------------------------------------------------------------- */

/* -- BODY START -- */
#grid-container-body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* -- HEADER START -- */
#global-header-grid-container {
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "header-1"
        "header-2"
        "header-3"
        "header-4";
}


/* GRID: HEADER-1 */
#global-header-top-nav-container {
    grid-area: header-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#logo {
    height: 60px;
    width: 60px;
    margin: 0.5rem;
}
.top-nav-icons {
    font-size: 2rem;
    color: var(--custom4);
    padding-left: 1rem;
}
#search-bar {
    display: none;
}
#hamburger-button {
    background-color: rgba(255, 255, 255, 0);
    font-size: 2rem;
    color: var(--custom4);
    padding-left: 1rem;
}
.top-nav-user-links {
    display: none;
}
#top-nav-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
}
#banner-img {
    grid-area: header-1;
    max-width: 100%;
    height: auto;
}


/* GRID: HEADER-2 */
#global-header-form-container {
    grid-area: header-2;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid greenyellow;
}
.scroll-menu{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    border: 2px solid red;
}
.scroll-menu-item {
    color: var(--custom4);
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2px dotted blue;
}
/* GRID: HEADER-3 */

/* GRID: HEADER-4 */

/* -- HEADER END -- */



/* -- MAIN START -- */


/* -- MAIN END -- */

/* -- FOOTER START -- */
footer {
    grid-area: footer;
    display: grid;
    padding: 2rem;
    grid-template-rows: 
        "auto" 
        "auto" 
        "auto" 
        "auto";
    background-color: var(--custom4);
    font-size: 0.7rem;
}
footer h3 {
    font-weight: 800;
}
footer, p h3 {
    color: var(--custom7);
}

/* Kundeservice */
#customer-service {
    padding-bottom: 2rem;
}
#customer-service ul{
    list-style: none;
    position: relative;
    top: 1.3rem;
}
.customer-service-link {
    text-decoration: none;
    color: var(--custom7);
}

/* Flagg */
#flags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#flags img{
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin-right: 0.3rem;
    margin-left: 1.2rem;
}

/* Betalingsmetoder */
#payment-options {
    padding-top: 2rem;
}
#payment-options ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
    padding-top: 1rem;
}
#payment-options li{
    margin-right: 1rem;
    font-size: 2rem;
}

#footer-news-and-customerservice-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2rem;
}

#news-and-offers {
    margin-right: 0.5rem;
    padding-bottom: 2rem;
}
#news-and-offers h3{
    padding-bottom: 2rem;
}
#news-and-offers-overlaytext {
    position: relative;
    left: 0.5rem;
    top: -0.7rem;
    padding-right: 0;
    background-color: var(--custom4);
    z-index: 1;
    width: 10rem;
}
#news-and-offers form {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 1.1rem;
    border: 2px solid var(--custom7);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#news-and-offers input {
    background-color: var(--custom7);
    color: var(--custom4);
    border: none;
    border-radius: 0.2rem;
    height: 1.5rem;
    width: 8rem;
    margin-right: 0.3rem;
    padding: 0.2rem;
    text-align: start;
    font-size: 10px;
}
#news-and-offers button {
    background-color: var(--custom2);
    border: none;
    border-radius: 0.2rem;
    font-size: 10px;
    font-weight: bold;
    padding: 0.2rem;
}
#news-and-offers a{
    color: var(--custom7);
    text-decoration: none;
}


/* Sosiale medier */
#social-media li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;
}
#social-media a {
    color: var(--custom7);
}
#social-media h3{
    padding-bottom: 1rem;
}
/* -- FOOTER END -- */
/* -- MOBILE END -- */



/* -- DESKTOP --------------------------------------------------------------------------- */
/* Hidden & shown */
@media (min-width: 600px) {
    #hamburger-button {
        display: none;
    }
    #search-bar {
        display: block;
    }
    .hamburger-link {
        display: block;
        color: var(--custom4);
    }
    #user-links p {
        display: block;
        color: var(--custom4);
    }
}


