/* -- GENERAL -- */
/* Main colours */
:root {
    --custom1: #52d3f0;
    --custom2: #ffcf40;
    --custom3: #1ca2c1;
    --custom4: #252525;
    --custom5: #e8e8e8;
    --custom6: #019101;
    --custom7: #f6f5f2;
    }
    
    /* General web-site values */
    html {
        max-width: 1400px;
        font-family: "Montserrat", serif;
        font-style: normal;
        scroll-behavior: smooth;
    }
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    /* -- ANIMATIONS, CONDITIONS & EFFECTS -------------------------------------------------------------- */
    #hamburger-menu {
    
    }
    .hamburger-link {
        display: none;
    }
    #hamburger-button {
    
    }
    
    
    /* -- MOBILE ---------------------------------------------------------------------------- */
    
    /* -- BODY START -- */
    #grid-container-body {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    
    /* -- HEADER START -- */
    #global-header-grid-container {
        grid-area: header;
        display: grid;
        grid-template-areas: 
            "header-1"
            "header-2"
            "header-3"
            "header-4";
    }

#global-header-form-container {
    grid-area: header-2;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid greenyellow;
}
#global-header-form-container #scroll-menu-container{
    display: flex;
    gap: 1rem;
    overflow: scroll;
    border: 2px solid red;
}
#global-header-form-container #scroll-menu-container article a{
    position: relative;
    display: inline-block;
    
}
#scroll-menu-item {
    
    border: 2px dotted blue;
}